body {
    margin: 0px;
    padding: 0px;
}

.project {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 4fr;
    height: 100vh;
    width: 100vw;

}

.sidebar {
    grid-column: 1/2;
    grid-row: 1/3;
    display: flex;
    flex-direction: column;
    padding: 1.5em;
    gap: 25px;
    background-color: rgb(39, 132, 194);
}

.details {
    display: flex;
    align-items: center;
    gap: 25px;
    font-size: 25px;
    font-weight: bold;
    color: white;
    transition: transform 0.5s;
    height: 3%;
    padding-left: 1em;
}

.details:hover {

    opacity: 0.6;
    color: rgb(255, 255, 255);
    cursor: pointer;
    transform: scale(1.04, 1.2);

}

a {
    text-decoration: none;
}

.sett {
    margin-top: 2em;
}

.dash {
    margin-bottom: 1.2em;
    padding-left: 0;
    font-size: 35px;
    gap: 15px;
    padding-top: 5%;
    transition: transform 2000ms;
}

.dash:hover {
    cursor: default;
    transform: none;
    opacity: 1;
}


.header {
    grid-column: 2/3;
    grid-row: 1/2;
    box-shadow:0px 2px 3px rgb(211, 210, 210);
    margin-bottom: 4px;


}

.top {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px 60px 10px 40px;

}

.pointer:hover {
    cursor: pointer;
}


.search {
    display: flex;

}

.acount {
    display: flex;

}

.input {
    flex: 1;
    background-color: rgb(238, 235, 231);
    border-radius: 20px;
    border: 1px solid rgb(238, 235, 231);
    max-width: 60%px;
    height: 30px;
    margin-left: 20px;
    margin-right: 200px;
}

.mist {
    width: 90px;
    height: 60px;
    border-radius: 30px;
    margin: 20px;
    margin-bottom: 0px;
    margin-top: 0px;
    display: flex;
    align-items: center;
}


.left {
    display: flex;
    margin-left: 40px;
    align-items: center;
}

.bottom-text p,
h5 {
    margin: 4px;
}

.bottom-text {
    margin-left: 14px;
}

.bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 40px;
}

.right {
    display: flex;
    justify-content: space-between;

}

.input-right {
    margin: 20px;
    width: 90px;
    height: 35px;
    border-radius: 50px;
    background-color: rgb(39, 132, 194);
    border: 0px;
    color: white;
    font-size: 14px;
    font-weight: bold;
}

.input-right:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.main {
    background-color: rgb(238, 235, 231);
    display:grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: 1fr 1fr;
    padding: 0.5em 1em;
    column-gap: 1.5em;
    
     
     
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(360px, auto));
    grid-template-rows: repeat(3, 1fr);
    grid-row-gap: 1em;
    grid-column-gap: 1em;
    
     
     
}

.card {
    background-color:white;
    border-radius: 10px;
    border-left: 10px solid rgb(150, 150, 209);
    display: flex;
    flex-direction: column;
    padding: 2em 1.5em 0 1.5em;
    justify-content: center;
    transition-delay: 10ms;
    box-shadow:  1px 3px rgb(206, 200, 200);
}

.card:hover {
    transform: scale(1.01, 1.01);

}

.card p {
    max-width: 90%
}

.card h3 {
    margin: 0px;
}

.icons img {
    width: 20px;
}

.icons img:hover {
    cursor: pointer;
}

.icons {
    display: flex;
    justify-content: end;
    margin-right: 20px;
    gap: 20px;
    margin-bottom: 30px
}
.up{
    background-color: rgb(255, 255, 255);
    border-radius:10px;
    padding:1em;
    display: flex;
    flex-direction: column;
    box-shadow:  1px 3px rgb(206, 200, 200);
     
    
}
.up p{
    margin:0
}
.cl{
    display:flex;
    border-bottom: 1px solid rgb(209, 201, 201);
    flex-direction: column;
    
}
.cl:hover{
    cursor:pointer;
    transform:scale(1.01, 1.01)
}
.cl h2{
    margin:10px;
}
.down{
    background-color:rgb(255, 255, 255);
    display:flex;
    flex-direction: column;
    padding:1em;
    border-radius:10px;
    box-shadow:  1px 3px rgb(206, 200, 200);
    
     
    
}
.pillars{
    display:flex;
    align-items: center;
    gap:10px;
    border-bottom: 1px solid  rgb(209, 201, 201);
    
}
.pillars:hover{
    cursor:pointer;
    transform:scale(1.01, 1.01)
}
 .anouncements{
    margin-right:50px;
     grid-row:1/3;
      
     
     
 
 }  
 .projects{
    grid-row:1/3;
    
 }
 .anouncements h3{
    display:block;
 }
 .one{
    display:flex;
    flex-direction: column;
    grid-row: 1/2;
    
   
 }
 .two{
    display:flex;
    flex-direction: column;
    grid-row: 2/3;
   
     
 }